@charset "utf-8";
/* 如果不设置overflow:hidden 会出现横向滚动条 */  

html, body {
	overflow: hidden;
	overflow-y: auto;
}

/* 移动端头部 */
.min-width-client-header {
	height: 50px;
	line-height: 50px;
	background: #fff;
}

/* 移动端头部展开按钮 */
.min-width-client-header .tag-btn {
	margin-left: 10px;
	padding: 6px 7px;
	border: 1px solid #eee;
	background-color: #fafafa;
	border-radius: 3px;
}

.min-width-client-header .tag-btn:focus {
	outline: none;
}

.min-width-client-header .tag-btn .bar-icon {
	width: 22px;
	height: 2px;
	border-radius: 1px;
	display: block;
	background-color: #bbb;
}

.min-width-client-header .tag-btn .bar-icon+.bar-icon {
	margin-top: 5px;
}

/* 菜单导航 */
.nav {
	background-color: #eee;
	height: 50px;
	line-height: 50px;
	overflow: auto;
}

.menu-wrap {
	display: flex;
	height: 100%;
	transition: all .5s ease;
}

.menu-wrap a{
	color: #3D3D3D
}

.menu-wrap a:last-child{
	padding-right: 15px;
}
.menu-wrap a:hover{
	color: #c92027;
}


/* 桌面端左侧标签栏 */
.left-tag {
	width: 250px;
	position: absolute;
	top: -65px;
	left: -250px;
	transition: all .25s ease-out;
	z-index: 1001;
}

.left-tag.slide-control {
	left: 0;
}

.container {
	position: relative;
	margin-top: 15px; 
	left: 0;
	transition: all .25s ease-out;
}

.container.active {
	left: 200px;
}

.right-info {
	display: none;
}

.list-group {
	border: 1px solid #eee;
	border-radius: 3px;
	backgound-color: #fff;
}

.list-group a {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.list-group a+a {
	border-top: 1px solid #eee;
}

.list-group .active {
	background-color: #337ab7;
	color: #fff;
}

.btn-nav {
	margin-right: 15px;
	display: block;
	white-space: nowrap;
}

.fl-rl-a {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


/* 桌面屏幕 结束*/

/* 博客内容 */
.content-dv{
	padding: 20px;
	border-bottom:1px solid #eee;
}



.content-dv-title{
	padding: 10px 0;
}
.content-dv-title a{
	padding: 10px 0;
	color: #3d3d3d;
}

.summary{
	line-height: 1.5;
	margin-bottom: 10px;
}

.cl78{
	color:#787878;
}

.list-userbar{
	height: 25px;
	line-height: 25px;
}

.list-userbar dt , .list-userbar dd{
	display: inline-block;
    vertical-align: middle;
}



.list-userbar .user-header {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}

.list-userbar a {
	    color: #3d3d3d;
}

.list-userbar .interval {
    width: 2px;
    height: 2px;
    background: #adadad;
    border-radius: 50%;
    margin: 0 5px
}

.list-userbar .interactive {
	display: none;
}

.interactive a{
	line-height: 25px;
	text-align: center ; 
}

.interactive .interval {
	display: inline-block;
	mariin-bottom: 7px;
}

.col-gray {
	color: #8a8a8a
}
    
.list-userbar .tag{
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list-userbar .tag a{
	color: #3399ea;
}
.list-userbar .tag a:hover {
	color: #157dcf
}

.interactive .read-num  , .interactive .common-num {
	display: inline-block;
	margin-right: 5px;
	color: #3399ea
}
.interactive a:hover{
	color: #157dcf
}

/* 右侧 */
.right-info {
	padding: 30px 0px;
}
.login-part {
	padding: 10px;
	margin:0 5px;
	border: 1px solid #d5dce5;
}

.user-info h2{
	margin: 0;
    position: relative;
    color: #4d5e73;
    margin-bottom: 15px;
}

.user-info input[type="text"] , .user-info input[type="password"]{
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #d5dce5;
    font-weight: normal;
    text-indent: 23px;
    outline: 0;
    border-radius: 3px;
}

.user-info input[type=text]{
	margin-bottom: 20px;
}

.forget-password{
	margin-top: 10px;
}
.rememberMe-label{
	padding: 0 10px;
	-moz-user-select:none;/*火狐*/
   -webkit-user-select:none;/*webkit浏览器*/
   -ms-user-select:none;/*IE10*/
   -khtml-user-select:none;/*早期浏览器*/
   user-select:none;
}

.forget-password-sp{
	float: right;
}
.forget-password-sp a{
	text-decoration: none;
	color: #4d5e73;
}

.forget-password-sp a:hover{
	text-decoration: underline;
}

.loginBtn {
	padding: 10px 5px;
    background: #337ab7;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top:15px;
}

.register-dv {
	margin-top: 10px;	
}
.register-dv a {
	color: #4d5e73;
}

.register-dv a:hover {
	text-decoration: underline;
}



/* 响应各种屏幕 */
/* 平板居多屏幕 */
@media screen and (min-width: 768px) {
	.nav {
		width: 750px;
		background: red;
	}
}
/* 平板居多屏幕 结束*/

/* 小分辨率桌面屏幕 */
@media screen and (min-width: 992px) {
	.nav {
		width: 970px;
		background-color: #eee;
	}
}
/* 小分辨率桌面 结束*/

/* 桌面屏幕 */
@media screen and (min-width: 1200px) {
	.min-width-client-header {
		display: none;
	}
	.nav {
		width: calc(100% - 120px);
		width: -webkit-calc(100% - 120px);
		background-color: #eee;
	}
	.container {
		width: 1170px;
		display: flex;
	}
	.left-tag {
		width: 200px;
		position: unset;
	}
	.right-info {
		width: 300px;
		float: right;
		display: inline-block;
	}
	.center-main {
		width: calc(100% - 500px);
		width: -webkit-calc(100% - 500px);
	}
	.btn-nav {
		margin-right: 25px;
	}
	.list-userbar .interactive {
		display: inline-block;
	}
	.list-userbar .tag{
		width: auto;
		max-width: 250px;
	}
}